---
import Layout, { type Project } from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const projects: Project[] = await getCollection('projects');
  
  return projects.map(project => {
    return {
      params: {project: project.slug}, 
      props: { 
        title: project.data.title, 
        body: project.body
      }
    }
  })
}

const { title, body } = Astro.props;
---
<Layout title={`William Gruszka: ${title}`}>
  <section class="project-details">
    <header>
      {title}
    </header>

    <p>{body}</p>
  </section>
</Layout>

<style>
  .project-details {
    display: flex; 
    flex-direction: column;
  }
</style>