---
import Layout, { type Project } from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const projects: Project[] = await getCollection('projects');
  
  return projects.map(project => {
    return {
      params: {project: project.slug}, 
      props: { 
        title: project.data.title, 
        body: project.body
      }
    }
  })
}

const { title, body } = Astro.props;
---
<Layout title={title}>
  <div style="display: flex; flex-direction: column;">
    <div>{title}</div>
    
      <p>
        {body}
      </p>
  </div>
</Layout>