---
import Layout from "../layouts/Layout.astro";
import CardList from "../components/CardList.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import LinkButton from "../components/LinkButton.astro";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
const filteredProjects: CollectionEntry<"projects">[] = projects.filter(
  (project) => project.data.showcase,
);
const sortedProjects: CollectionEntry<"projects">[] = filteredProjects.sort(
  (a, b) => (a.data.year < b.data.year ? 1 : -1),
);
---

<Layout title="William Gruszka">
  <div class="homepage-content">
    <header class="heading-container">
      <img
        src={`${import.meta.env.BASE_URL}/headshot.jpeg`}
        alt="William Gruszka headshot"
      />

      <div class="description">
        <section class="title-section">
          <h1>William Gruszka</h1>
          <h3>Software Engineer</h3>
        </section>

        <p>
          Sydney based Software Engineer experienced in agile development,
          building scalable web applications with React and TypeScript and
          developing cloud-based solutions on AWS. Committed to refining my
          craft by focusing on designing and building quality, maintainable
          software and continuously learning new engineering ideas and
          practices.
        </p>

        <section class="links-section">
          <LinkButton
            title="github.com/wilgru"
            href={"https://github.com/wilgru"}
            iconName={"github-logo"}
            alt="Github icon"
          />
          <LinkButton
            title="linkedin.com/william-gruszka"
            href={"https://www.linkedin.com/in/william-gruszka-a03373227/"}
            iconName={"linkedin-logo"}
            alt="linkedIn icon"
          />
          <LinkButton
            title="william.gruszka@icloud.com"
            href={"mailto:william.gruszka@icloud.com"}
            iconName={"envelope"}
            alt="email icon"
          />
        </section>

        <section class="location-section">
          <img
            class="location-pin-icon"
            src={`${import.meta.env.BASE_URL}/map-pin-fill.svg`}
            alt="Location pin"
          />
          <p>Sydney, NSW Australia</p>
        </section>
      </div>
    </header>

    <!-- <nav class="nav-container">
      <h2>Projects</h2>
    </nav> -->

    <div class="content-container">
      <CardList projects={sortedProjects} transition:persist />
    </div>
  </div>
</Layout>

<style>
  .homepage-content {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
  }
  .homepage-content h2 {
    opacity: 0;
    animation: fadeInFromBottom 1s ease-out forwards 0.5s;
  }
  .heading-container {
    opacity: 0;
    animation: fadeInFromBottom 1s ease-out forwards 0.3s;
    padding: 1.3rem;
    border-radius: 1rem;
    background-color: snow;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .heading-container img {
    border-radius: 0.5rem;
    width: 300px;
    height: auto;
    margin-bottom: auto;
  }
  .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .description p {
    font-size: 1rem;
  }
  .title-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .links-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .location-section {
    border-top: solid 2px rgb(241, 241, 241);
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .location-section p {
    font-size: 1.1rem;
  }
  .location-pin-icon {
    max-width: 22px;
    max-height: 22px;
    opacity: 0.7;
  }
  /* .nav-container {
    width: 100%;
    background-color: snow;
    padding: 1rem;
    border-radius: 1rem;
  } */
  @media screen and (max-width: 1026px) {
    .homepage-content {
      padding: 2rem 1rem;
      width: 100%;
    }
    .heading-container {
      max-width: 100%;
      flex-direction: column;
    }
    .heading-container img {
      width: unset;
      height: unset;
      max-width: 300px;
    }
    .description {
      gap: 1rem;
    }
  }
</style>
