---
import Layout from "../layouts/Layout.astro";
import LinkIcon from "../components/LinkIcon.astro";
import CardList from "../components/CardList.astro";
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
const sortedProjects: CollectionEntry<"projects">[] = projects.sort((a, b) =>
  a.data.year < b.data.year ? 1 : -1,
);
---

<Layout title="William Gruszka">
  <section class="homepage-content">
    <header class="heading-container">
      <section class="title-container">
        <h1>William Gruszka</h1>
        <h3>Software Engineer</h3>
      </section>
      <section class="description-container">
        <img
          src={`${import.meta.env.BASE_URL}/headshot.JPG`}
          alt="William Gruszka headshot"
        />

        <div class="description">
          <p>
            Sydney based software engineer with experience in agile development,
            web development using React and Typescript, and cloud services like
            AWS.
          </p>

          <summary>
            <LinkIcon
              href={"https://github.com/wilgru"}
              iconName={"github-logo"}
              alt="Github icon"
              target="_blank"
            />
            <LinkIcon
              href={"https://www.linkedin.com/in/william-gruszka-a03373227/"}
              iconName={"linkedin-logo"}
              alt="linkedIn icon"
              target="_blank"
            />
            <LinkIcon
              href={"mailto:william.gruszka@icloud.com"}
              iconName={"envelope"}
              alt="email icon"
              target="_blank"
            />
          </summary>
        </div>
      </section>
    </header>

    <h2>Projects</h2>
    <CardList projects={sortedProjects} transition:persist />
  </section>
</Layout>

<style>
  .homepage-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
  }
  .homepage-content h2 {
    opacity: 0;
    width: 1000px;
    animation: fadeInFromBottom 1s ease-out forwards 0.5s;
  }
  .heading-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem;
  }
  .title-container {
    opacity: 0;
    animation: fadeInFromBottom 1s ease-out forwards 0.1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .description-container {
    opacity: 0;
    animation: fadeInFromBottom 1s ease-out forwards 0.3s;
    padding: 1.3rem;
    border-radius: 1rem;
    background-color: snow;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .description-container img {
    border-radius: 0.5rem;
    width: 300px;
    height: auto;
  }
  .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .description summary {
    border-top: solid 2px rgb(241, 241, 241);
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .description p {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 844px) {
    .homepage-content {
      padding: 2rem 1rem;
    }
    .heading-container {
      width: 100%;
      margin: 0 1rem;
    }
    .title-container {
      flex-direction: column;
      align-items: baseline;
      gap: 0.5rem;
    }
    .description-container {
      flex-direction: column;
    }
    .description-container img {
      width: unset;
      height: unset;
      max-width: 400px;
    }
    .description {
      gap: 1rem;
    }
  }
</style>
