---
import type { CollectionEntry } from "astro:content";
import Card from "../components/Card.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<section id="card-list">
  {
    projects.map((project) => (
      <Card href={`/projects/${project.slug}`} project={project} />
    ))
  }
</section>

<style>
  #card-list {
    opacity: 0;
    animation: fadeInFromBottom 1s ease-out forwards 0.7s;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: start;
    gap: 1rem;
    width: 100%;
    overflow-y: hidden;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  #card-list li {
    list-style: none;
  }
  @media screen and (max-width: 1026px) {
    #card-list {
      display: flex;
      flex-direction: column;
    }
  }
</style>
