---
import type { CollectionEntry } from 'astro:content';
import Card from '../components/Card.astro';

interface Props {
	projects: CollectionEntry<'projects'>[];
}

const { projects } = Astro.props;
---

<section class="project-card-list">
  {projects.map(project => (
		<Card
			href={`/projects/${project.slug}`}
			project={project}
		/>
  ))}
</section>

<style>
  .project-card-list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 5rem;
		width: 100%;
	}
	.project-card-list li {
		list-style: none;
	}
</style>
