---
import type { CollectionEntry } from 'astro:content';
import Card from '../components/Card.astro';

interface Props {
	projects: CollectionEntry<'projects'>[];
}

const { projects } = Astro.props;
---

<section class="project-card-list">
  {projects.map(project => (
		<Card
			href={`/projects/${project.slug}`}
			project={project}
		/>
  ))}
</section>

<style>
  .project-card-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
		justify-content: space-between;
		gap: 2rem;
		margin: 0;
		height: fit-content;
	}
	.project-card-list li {
		list-style: none;
	}
</style>
