---
import type { CollectionEntry } from 'astro:content';
import Card from '../components/Card.astro';

interface Props {
	projects: CollectionEntry<'projects'>[];
}

const { projects } = Astro.props;
---

<ul role="list" class="project-card-list">
  {projects.map(project => (
		<li>
			<Card
				href={`/projects/${project.slug}`}
				project={project}
			/>
		</li>
  ))}
</ul>

<style>
  .project-card-list {
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		/* grid-template-columns: repeat(auto-fit, minmax(200px, 250px)); */
		overflow-x: scroll;
		gap: 0.5rem;
		padding: 0 0.5rem;
		margin: 0;
		height: 100%;
	}
	.project-card-list li {
		list-style: none;
	}
</style>
