---
import type { CollectionEntry } from 'astro:content';
import Card from '../components/Card.astro';

interface Props {
	projects: CollectionEntry<'projects'>[];
}

const { projects } = Astro.props;
---

<section class="project-card-list">
  {projects.map(project => (
		<Card
			href={`/projects/${project.slug}`}
			project={project}
		/>
  ))}
</section>

<style>
  .project-card-list {
		flex: 1;
		display: flex;
		gap: 2rem;
		width: 100%;
		overflow-y: auto;
		padding: 0 calc(((100vw - 1000px) / 2) - 20px);
		padding-bottom: 2rem;
		box-sizing: border-box;
	}
	.project-card-list li {
		list-style: none;
	}
</style>
