---
import type { Project } from '../types/Project.type';

interface Props {
	href: string;
	project: Project;
}

const { href, project } = Astro.props;
---

<a href={href} class="project-card">
	<img/>

	<div class="no-opacity">
		<h3>{project.data.title}</h3>
		<p class="project-card-year">{project.data.year}</p>
		<p>{project.data.description}</p>
	</div>
</a>

<script>
  const projectItem = document.querySelector('a.project-card');

	if (projectItem) {
		projectItem.addEventListener("mouseover", () => {
			projectItem.children[1].classList.remove('no-opacity')
		});

		projectItem.addEventListener('mouseleave', () => {
			projectItem.children[1].classList.add('no-opacity')
		});
	}
</script>

<style>
	.project-card {
		flex-shrink: 0;
		display: flex;
		gap: 1rem;
		padding: 1px;
		text-decoration: none;
	}
	.project-card img {
		display: flex;
		padding: 1px;
		background-color: #2f2f2f;
		filter: grayscale();
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		width: 25rem;
		height: 15rem;
	}
	.project-card div {
		width: 10rem;
	}
	.project-card h3, p {
		color: black;
	}
	.project-card-year {
		font-weight: 400;
	}
	.no-opacity {
		opacity: 0;
	}
	.project-card img:is(:hover, :focus-within) {
		filter: none;
	}
</style>
