---
import CardList from '../components/CardList.astro';
import { getCollection, getEntry } from 'astro:content';

interface Props {
	title: string;
}

export interface Project {
	slug: string, 
	body: string,
	data: {
		title: string; 
		tags: []
	}
}

const { title } = Astro.props;

const projects: Project[] = await getCollection('project');
---

<!-- Go swiss style? -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Software Engineer based in Sydney Australia" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<div style="display: flex; flex-direction: row; justify-content: space-between; height: 100%">
				<CardList projects={projects} />
				<slot />
			</div>
		</main>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #ffffff;
	}
	body {
		height: 100vh;
		margin: 0;
	}
	main {
		height: 100%;
		font-size: 20px;
		line-height: 1.6;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
